@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&display=swap');
@import "tailwindcss";

:root {
  --background-light: #f8f5f6;
  --background-dark: #1E1F1C;
  --surface-dark: #272822;
  --primary: #f92472;
  --accent-blue: #66d9ef;
  --accent-green: #a6e22e;
  --accent-yellow: #e6db74;
  --text-main: #F8F8F2;
  --text-muted: #cfcfc2;
}

@theme inline {
  --color-primary: var(--primary);
  --color-background-light: var(--background-light);
  --color-background-dark: var(--background-dark);
  --color-surface-dark: var(--surface-dark);
  --color-accent-blue: var(--accent-blue);
  --color-accent-green: var(--accent-green);
  --color-accent-yellow: var(--accent-yellow);
  --color-text-main: var(--text-main);
  --color-text-muted: var(--text-muted);
  --font-display: Inter, sans-serif;
}

body {
  font-family: Inter, sans-serif;
}
